@page
@model SWP_template.Views.Owner.PropertiesModel
@inject IHttpContextAccessor Accessors
@using SWP_template.Models


<!-- Main Content -->
<div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

           

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Accessors.HttpContext.Session.GetString("Username")</span>
                    <img class="img-profile rounded-circle"
                         src="~/img/user.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="@Url.ActionLink("OwnerProfile","OwnerHome", new { id = Accessors.HttpContext.Session.GetString("ID")})">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    @* <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                    </a>
                    <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                    </a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area" style="height: 610px">
                            <canvas id="myBarCharts" style="height: 580px; width:1570px"></canvas>
                           

                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Row -->
        </div>
        <!-- /.container-fluid -->
      
    </div>
    <!-- End of Main Content -->
    @section script{
        <script>


 

            const xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            const yValues = [@ViewBag.thang1, @ViewBag.thang2, @ViewBag.thang3, @ViewBag.thang4, @ViewBag.thang5, @ViewBag.thang6, @ViewBag.thang7, @ViewBag.thang8, @ViewBag.thang9, @ViewBag.thang10, @ViewBag.thang11, @ViewBag.thang12 ];
            const barColors = ["red", "green", "blue", "orange", "brown"];

            new Chart("myBarCharts", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: "blue",
                        data: yValues,
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Year Income"
                    }
                }
            });
                                  //  }


        </script>
    }
