@model List<SWP_template.Models.Room>
@{
    string HotelId = ViewData["HotelId"] as string;
}

@if (ViewData["Update"] != null)
{
    <script>
        alert("@ViewData["Update"]");
    </script>
}
@*    <button class="CreateRoom" id="CreateRoom" onclick="location.href='@Url.Action("CreateRoom", "CRUDRoom", HotelId)'">Create New Room</button>*@
<form method="get" asp-controller="CRUDRoom" asp-action="CreateRoom">
    <input type="hidden" value="@HotelId" name="HotelId" />
    <input type="submit" value="Create New Room">
</form>
@if (Model != null && Model.Count > 0)
{
    @foreach (var room in Model)
    {
        <div class="hotel-list">
            <ul class="hotel-list-left">
                
                <div class="hotel-info">
                    <div class="dropdown no-arrow" style="margin-left:1160px">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Actions:</div>

                            <a class="dropdown-item" href="@Url.ActionLink("EditRoom","CRUDRoom",new{roomId = room.RoomId, hotelId = HotelId})">Update</a>
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.ActionLink("DeleteRoom","CRUDRoom",new{roomId = room.RoomId, hotelId = HotelId})">Remove</a>
                        </div>
                    </div>

                    <h3 style=" margin-left: 30px;">@room.RoomName</h3>
                    <p style=" margin-left: 30px;">@room.RoomPrice</p>
                    <p style=" margin-left: 30px;">@room.RoomInfo</p>
                    <p style=" margin-left: 30px;">
                        BedQuantity: @room.BedQuantity &emsp; Wifi: @(room.Wifi == "1" ? "Có" : "Không")
                        &emsp;
                        Window: @(room.Window == "1" ? "Có" : "Không")
                        &emsp;
                        Smoking: @(room.Smoking == "1" ? "Có" : "Không")
                    </p>


                   @* <p>Wifi: @(room.Wifi == "1" ? "Có" : "Không")</p>
                    <p>Window: @(room.Window == "1" ? "Có" : "Không")</p>
                    <p>Smoking: @(room.Smoking == "1" ? "Có" : "Không")</p>*@

                </div>
               
                
            </ul>
         
        @*    <ul class="hotel-list-right">
                <li>
                    <form method="get" asp-controller="CRUDRoom" asp-action="EditRoom">
                        <input type="hidden" value="@room.RoomId" name="RoomId" />
                        <input type="hidden" value="@HotelId" name="HotelId" />
                        <input type="submit" style="width:100%" value="Update">
                    </form>
                </li>
                <li>
                    <form method="post" asp-controller="CRUDRoom" asp-action="DeleteRoom">
                        <input type="hidden" value="@room.RoomId" name="RoomId" />
                        <input type="hidden" value="@HotelId" name="HotelId" />
                        <input type="submit" style="width:100%" value="Delete" >
                    </form>
                </li>
            </ul>*@
        </div>
    }
}
else
{
    <h2>No Any Room!</h2>
}
<script>
    document.getElementById("OpenPopup").addEventListener("click", function () {
        var hotelId = button.getAttribute("data-hotelId");
        location.href = "/CRUDRoom/CreateRoom?hotelId=" + hotelId;
    });
</script>
