@model Room
@{
    var HotelId = ViewData["HotelId"] as string;
}

<div class="pop-up" id="pop-up" style="margin-top: 10px">
    <div class="pop-up-content">
        <h1>Update room</h1>
        <form asp-controller="CRUDRoom" asp-action="UpdateRoom" method="post">
            <input type="hidden" name="HotelId" value="@HotelId" />
            <input type="hidden" name="RoomId" value="@Model.RoomId" />

            <label>Room's Name</label>
            <input type="text" asp-for="RoomName" placeholder="Room's Name" value="@Model.RoomName" required />

            <label>Bed's quantity</label>
            <input type="text" asp-for="BedQuantity" placeholder="Room's Price" value="@Model.BedQuantity" required />
            <label>Price</label>
            <input type="text" asp-for="RoomPrice" placeholder="Room's Price" value="@Model.RoomPrice" required />
            <label>RoomAvailable</label>
            <input type="text" asp-for="RoomAvailable" placeholder="Room's Available" value="@Model.RoomAvailable" required />

            <label>Hotel's information</label>
            <textarea asp-for="RoomInfo" placeholder="Room's Information'" value="@Model.RoomInfo" required></textarea>
            <div class="checkbox-list">
                <div class="checkbox-list-item">
                    <label class="label_checkbox" for="">Wifi</label>
                    <input class="checkbox" type="checkbox" name="Wifi" checked="@(Model.Wifi == "1")" />
                </div>
                <div class="checkbox-list-item">
                    <label class="label_checkbox" for="">Window</label>
                    <input class="checkbox" type="checkbox" name="Window" checked="@(Model.Window == "1")" />
                </div>
                <div class="checkbox-list-item">
                    <label class="label_checkbox" for="">Smoking</label>
                    <input class="checkbox" type="checkbox" name="Smoking" checked="@(Model.Smoking == "1")" />
                </div>
            </div>
            <br />
            <label for="">Room's image</label>
            <input type="file"
                   asp-for="RoomImage"
                   accept="image/*"
                   name="hotelimage"
                   id="hotelimage" value="@Model.RoomImage" />

            <input type="submit" id="SubmitAddRoom" />
        </form>
    </div>
</div>
<script src="/JS/FormAddHotel.js"></script>