@model List<SWP_template.Models.Room>
@inject IHttpContextAccessor Accessors
<!doctype html>
<html lang="en">
<head>
    <title>Hotel Detail Left Sidebar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" id="cpswitch" href="~/css/orange.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!--Date-Picker Stylesheet-->
    <link rel="stylesheet" href="~/css/datepicker.css">

    <!-- Slick Stylesheet -->
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
</head>
<body>
    <!--===== INNERPAGE-WRAPPER ====-->
    <section class="innerpage-wrapper">
        <div id="hotel-details" class="innerpage-section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-3 side-bar left-side-bar">

                        <div class="side-bar-block booking-form-block">
                            <h2 class="selected-price">$568.00 <span>De Forte</span></h2>

                            <div class="booking-form">
                                <h3>Book Hotel</h3>
                                <p>Find your dream hotel today</p>
                                <form method="post" action="@Url.Action("Confirm","Confirm", new {Hotelid = ViewBag.id})">
                                    <h5>First Name</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name" required />
                                    </div>

                                    <h5>Last Name</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" required />
                                    </div>

                                    <h5>Email</h5>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required />
                                    </div>

                                    <h5>Phone Number</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="Phone" required />
                                    </div>

                                    <h5>Country</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="country" placeholder="Country" required />
                                    </div>

                                    <h5>Arrival Date</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control dpd1" name="arrivalDate" placeholder="Arrival Date" required />                                       		<i class="fa fa-calendar"></i>
                                    </div>

                                    <h5>Departure Date</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control dpd2" name="departureDate" placeholder="Departure Date" required />                                       		<i class="fa fa-calendar"></i>
                                    </div>

                                    <h5>Room Type</h5>
                                    <div class="form-group">
                                        <div class="form-group right-icon">
                                            <select class="form-control" name="roomType">
                                                <option selected>Room Type</option>
                                                @foreach (var room in Model)
                                                {
                                                    <option value="@room.RoomId">@room.RoomName</option>
                                                }
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <h5>Room Quantity</h5>
                                        <div class="form-group right-icon">
                                            <select class="form-control" name="quatityRoom">
                                                <option selected>Rooms</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        </div>


                                        <div class="col-sm-0 col-md-0 col-lg-0 no-sp-l" ">
                                        @*<div class="form-group right-icon">
                                            <select class="form-control" name="bed">
                                            <option selected>Beds</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                            </div>*@
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-12 col-lg-6 no-sp-r">
                                            <h5>Adult</h5>
                                            <div class="form-group right-icon">
                                                <select class="form-control" name="adults">
                                                    <option selected>Adults</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-12 col-lg-6 no-sp-l" ">
                                            <h5>Child</h5>
                                            <div class="form-group right-icon">
                                                <select class="form-control" name="childs">
                                                    <option selected>Childs</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <h5>Payment Method</h5>
                                    <div class="form-group right-icon">
                                        <select class="form-control" name="payMethod">
                                            <option selected>Payment Method</option>
                                            <option>Credit Card</option>
                                            <option>Cash</option>
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                    </div>

                                    <div class="checkbox custom-check">
                                        <input required type="checkbox" id="check01" name="checkbox" />
                                        <label for="check01"><span><i class="fa fa-check"></i></span>By continuing, you are agree to the <a asp-action="Privacy" asp-controller="Home">Terms & Conditions.</a></label>
                                    </div>

                                    <button class="btn btn-block btn-orange" type="submit">Confirm Booking</button>
                                </form>

                            </div><!-- end booking-form -->
                        </div><!-- end side-bar-block -->

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="side-bar-block support-block">
                                    <h3>Need Help</h3>
                                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum.</p>
                                    <div class="support-contact">
                                        <span><i class="fa fa-phone"></i></span>
                                        <p>+1 123 1234567</p>
                                    </div><!-- end support-contact -->
                                </div><!-- end side-bar-block -->
                            </div><!-- end columns -->

                        </div><!-- end row -->
                    </div><!-- end columns -->

                    <h1>@ViewBag.hotel_name</h1>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">

                        <div class="detail-slider">
                            <div class="feature-slider">
                                @for (int i = 1; i < ViewBag.img_Number; i++)
                                {
                                    string url = ViewBag.img_URL + "/" + i + ".jpg";
                                    <div><img src="~/img/@url" class="img-responsive" alt="feature-img" style="max-height: 569px" /></div>
                                }

                            </div><!-- end feature-slider -->

                            <div class="feature-slider-nav">
                                @for (int i = 1; i < ViewBag.img_Number; i++)
                                {
                                    string url = ViewBag.img_URL + "/" + i + ".jpg";
                                    <div><img src="~/img/@url" class="img-responsive" alt="feature-thumb" style="max-height: 112px" /></div>
                                    @*<div><img src="~/img/h-feature-thumb-2.jpg" class="img-responsive" alt="feature-thumb" /></div>
                                <div><img src="~/img/h-feature-thumb-3.jpg" class="img-responsive" alt="feature-thumb" /></div>
                                <div><img src="~/img/h-feature-thumb-4.jpg" class="img-responsive" alt="feature-thumb" /></div>
                                <div><img src="~/img/h-feature-thumb-5.jpg" class="img-responsive" alt="feature-thumb" /></div>*@
                                }
                            </div><!-- end feature-slider-nav -->
                        </div>  <!-- end detail-slider -->

                        <div class="detail-tabs">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#hotel-overview" data-toggle="tab">Hotel Overview</a></li>
                                <li><a href="#restaurant" data-toggle="tab">Restaurant</a></li>
                                <li><a href="#pick-up" data-toggle="tab">Pick Up Services</a></li>
                                <li><a href="#luxury-gym" data-toggle="tab">Luxury Gym</a></li>
                                <li><a href="#sports-club" data-toggle="tab">Sports Club</a></li>
                            </ul>

                            <div class="tab-content">

                                <div id="hotel-overview" class="tab-pane in active">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 tab-img">
                                            <img src="~/img/@ViewBag.img_URL/avt.jpg" class="img-responsive" alt="flight-detail-img" />
                                        </div><!-- end columns -->

                                        <div class="col-sm-8 col-md-8 tab-text">
                                            <h3>Hotel Overview</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                </div><!-- end hotel-overview -->

                                <div id="restaurant" class="tab-pane">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 tab-img">
                                            <img src="~/img/@ViewBag.img_URL/avt.jpg" class="img-responsive" alt="flight-detail-img" />
                                        </div><!-- end columns -->

                                        <div class="col-sm-8 col-md-8 tab-text">
                                            <h3>Restaurant</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                </div><!-- end restaurant -->

                                <div id="pick-up" class="tab-pane">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 tab-img">
                                            <img src="~/img/@ViewBag.img_URL/avt.jpg" class="img-responsive" alt="flight-detail-img" />
                                        </div><!-- end columns -->

                                        <div class="col-sm-8 col-md-8 tab-text">
                                            <h3>Pick Up Services</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<br /> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                </div><!-- end pick-up -->

                                <div id="luxury-gym" class="tab-pane">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 tab-img">
                                            <img src="~/img/@ViewBag.img_URL/avt.jpg" class="img-responsive" alt="flight-detail-img" />
                                        </div><!-- end columns -->

                                        <div class="col-sm-8 col-md-8 tab-text">
                                            <h3>Luxury Gym</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                </div><!-- end luxury-gym -->

                                <div id="sports-club" class="tab-pane">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 tab-img">
                                            <img src="~/img/@ViewBag.img_URL/avt.jpg" class="img-responsive" alt="flight-detail-img" />
                                        </div><!-- end columns -->

                                        <div class="col-sm-8 col-md-8 tab-text">
                                            <h3>Sports Club</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                </div><!-- end sports-club -->

                            </div><!-- end tab-content -->
                        </div><!-- end detail-tabs -->

                        <div class="available-blocks" id="available-rooms">
                            <h2>Available Rooms</h2>
                            @foreach (var room in Model)
                            {
                                <div class="list-block main-block room-block">
                                    <div class="list-content">
                                        <div class="main-img list-img room-img">
                                            <img src="~/img/@ViewBag.img_URL/avt.jpg" class="img-responsive" alt="flight-detail-img" style="max-height: 250px" />

                                            <div class="main-mask">
                                                <ul class="list-unstyled list-inline offer-price-1">
                                                    <li class="price">@room.RoomPrice<span class="divider">|</span><span class="pkg">1 Night</span></li>
                                                    <li class="rating">
                                                        <span><i class="fa fa-star orange"></i></span>
                                                        <span><i class="fa fa-star orange"></i></span>
                                                        <span><i class="fa fa-star orange"></i></span>
                                                        <span><i class="fa fa-star orange"></i></span>
                                                        <span><i class="fa fa-star lightgrey"></i></span>
                                                    </li>
                                                </ul>
                                            </div><!-- end main-mask -->
                                        </div><!-- end room-img -->

                                        <div class="list-info room-info">
                                            <h3 class="block-title"><a href="#">@room.RoomName</a></h3>
                                            @*<p class="block-minor">Max Guests:02</p>*@
                                            <p class="block-minor">Available: @room.RoomAvailable</p>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-lg-3 no-sp-r">
                                                    <img src="~/img/Room Icon/Bed.jfif" class="img-responsive" style="max-height: 15px; float: left"><h8 style="float: right">@room.BedQuantity Bed</h8>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 no-sp-r">
                                                    <img src="~/img/Room Icon/Wifi.jfif" class="img-responsive" style="max-height: 15px; float: left"><h8 style="float: right">Free Wifi</h8>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 no-sp-r">
                                                    <img src="~/img/Room Icon/Smoking.jfif" class="img-responsive" style="max-height: 15px; float: left"><h8 style="float: right">@room.Smoking</h8>
                                                </div>
                                            </div>
                                        </div><!-- end room-info -->

                                    </div><!-- end list-content -->
                                </div>
                                <!-- end room-block -->
                            }
                        </div><!-- end available-rooms -->

                    </div><!-- end columns -->

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end hotel-details -->
    </section><!-- end innerpage-wrapper -->
    <!-- Page Scripts Starts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom-navigation.js"></script>
    <script src="~/js/custom-date-picker.js"></script>
    <script src="~/js/custom-slick.js"></script>
    <!-- Page Scripts Ends -->
</body>
</html>