@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model SWP_template.Models.Order*@
@model List<SWP_template.Models.Order>
@inject IHttpContextAccessor Accessors
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="dashboard" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="dashboard-wrapper">
                        <div class="row">

                            <div class="col-xs-12 col-sm-2 col-md-2 dashboard-nav">
                                <ul class="nav nav-tabs nav-stacked text-center">
                                    <li><a href="@Url.ActionLink("UserProfile","UserProfile", new {id = Accessors.HttpContext.Session.GetString("ID")})"><span><i class="fa fa-user"></i></span>Profile</a></li>
                                    <li class="active"><a href="#"><span><i class="fa fa-briefcase"></i></span>Booking</a></li>
                                </ul>
                            </div><!-- end columns -->


                            <div class="col-xs-12 col-sm-10 col-md-10 dashboard-content booking-trips">
                                <h2 class="dash-content-title">Trips You have Booked!</h2>
                                <div class="dashboard-listing booking-listing">
                                    <div class="dash-listing-heading">
                                        <div class="custom-radio">
                                            <input type="radio" id="radio01" name="radio" checked />
                                            <label for="radio01"><span></span>All Types</label>
                                        </div><!-- end custom-radio -->

                                        <div class="custom-radio">
                                            <input type="radio" id="radio02" name="radio" />
                                            <label for="radio02"><span></span>Hotels</label>
                                        </div><!-- end custom-radio -->

                                        <div class="custom-radio">
                                            <input type="radio" id="radio03" name="radio" />
                                            <label for="radio03"><span></span>Flights</label>
                                        </div><!-- end custom-radio -->

                                        <div class="custom-radio">
                                            <input type="radio" id="radio04" name="radio" />
                                            <label for="radio04"><span></span>Cars</label>
                                        </div><!-- end custom-radio -->
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                @foreach(var item in Model)
                                                {
                                                    <tr>
                                                        <td class="dash-list-text booking-list-detail">
                                                            @*    <h3>Tom's Restaurant</h3>*@
                                                            <ul class="list-unstyled booking-info">
                                                                <li><span>Booking Date:</span>@item.CheckIn </li>
                                                                <li><span>Booking Details:</span>@item.Adult adults - @item.Child childs</li>
                                                                <li>@item.Email<span class="line">|</span>@item.Phone</li>
                                                                <li>Total Price: @item.TotalPrice - @item.PaymentStatus</li>

                                                            </ul>
                                                            @*  <button class="btn btn-orange">Message</button>*@
                                                        </td>

                                                        @*<td class="dash-list-btn"><button class="btn btn-orange">Cancel</button><button class="btn">Approve</button></td>*@
                                                    </tr>
                                                }

                                               
                                            </tbody>
                                        </table>
                                    </div><!-- end table-responsive -->
                                    <!-- end columns -->

                                </div><!-- end row -->
                            </div><!-- end dashboard-wrapper -->
                        </div><!-- end columns -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end dashboard -->
</section><!-- end innerpage-wrapper -->
<!--========================= NEWSLETTER-1 ==========================-->
<section id="newsletter-1" class="section-padding back-size newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2>Subscribe Our Newsletter</h2>
                <p>Subscibe to receive our interesting updates</p>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control input-lg" placeholder="Enter your email address" required />
                            <span class="input-group-btn"><button class="btn btn-lg"><i class="fa fa-envelope"></i></button></span>
                        </div>
                    </div>
                </form>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end newsletter-1 -->
<!--======================= FOOTER =======================-->
<section id="footer" class="ftr-heading-o ftr-heading-mgn-1">

    <div id="footer-top" class="banner-padding ftr-top-black ftr-text-white">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact">
                    <h3 class="footer-heading">CONTACT US</h3>
                    <ul class="list-unstyled">
                        <li><span><i class="fa fa-map-marker"></i></span>29 Land St, Lorem City, CA</li>
                        <li><span><i class="fa fa-phone"></i></span>+00 123 4567</li>
                        <li><span><i class="fa fa-envelope"></i></span>info@starhotel.com</li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 footer-widget ftr-links">
                    <h3 class="footer-heading">COMPANY</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Flight</a></li>
                        <li><a href="#">Hotel</a></li>
                        <li><a href="#">Tours</a></li>
                        <li><a href="#">Cruise</a></li>
                        <li><a href="#">Cars</a></li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-links ftr-pad-left">
                    <h3 class="footer-heading">RESOURCES</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-widget ftr-about">
                    <h3 class="footer-heading">ABOUT US</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                    <ul class="social-links list-inline list-unstyled">
                        <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                        <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                        <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                        <li><a href="#"><span><i class="fa fa-pinterest-p"></i></span></a></li>
                        <li><a href="#"><span><i class="fa fa-instagram"></i></span></a></li>
                        <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                        <li><a href="#"><span><i class="fa fa-youtube-play"></i></span></a></li>
                    </ul>
                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->

    <div id="footer-bottom" class="ftr-bot-black">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="copyright">
                    <p>© 2017 <a href="#">StarTravel</a>. All rights reserved.</p>
                </div><!-- end columns -->

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="terms">
                    <ul class="list-unstyled list-inline">
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-bottom -->

</section><!-- end footer -->
<!-- Page Scripts Starts -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/custom-navigation.js"></script>
<!-- Page Scripts Ends -->